<span style='color: #000' title='Frames'>   474</span><span style='color: #009' title='Memory'>  35584.00 KB</span><span style='color: #900' title='Time'>   2505.85 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br /><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode() [<a href='domnode.clonenode'>domnode.clonenode</a>]: ID header already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 129</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode() [<a href='domnode.clonenode'>domnode.clonenode</a>]: ID footer already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 129</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode() [<a href='domnode.clonenode'>domnode.clonenode</a>]: ID footer already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 129</p>

</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  DOMNode::cloneNode() [<a href='domnode.clonenode'>domnode.clonenode</a>]: ID header already defined</p>
<p>Filename: include/frame_decorator.cls.php</p>
<p>Line Number: 129</p>

</div>